.btn {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
  letter-spacing: .0313rem;
  text-transform: uppercase;
  color: $color_white;
  background-color: $color_primary;
  border: .0625rem solid $color_primary;
  padding: 0 2.4375rem;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  transition: all .3s;

  @include breakpoint(_576) {
    width: 100%;
  }

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  }

  &--transparent {
    background-color: transparent;
    border-color: $color_white;

    &:hover {
      border-color: transparent;
      background-color: $color_primary;
    }
  }
}