.header {
  position: relative;
  background-color: $color_white;
  padding-top: 1.4375rem;
  padding-bottom: 1.3125rem;
  z-index: 2;
  transition: all .3s linear;

  &--transparent {
    background-color: transparent;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;
    column-gap: 2.25rem;

    @include breakpoint(_1200) {
      display: none;
    }
  }
}

.nav {
  margin-left: -6.875rem;

  &__list {
    display: flex;
    column-gap: 2.5rem;

    @include breakpoint(_992) {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.875rem;
    }

    @media (max-height: 500px) {
      justify-content: flex-start;
    }
  }

  &__link {
    font-weight: 700;
    line-height: 160%;
    color: $color_gray-800;
    transition: color 0.3s;

    &--current {
      color: $color_primary;
    }

    &:hover {
      color: $color_primary;
    }

    @include breakpoint(_992) {
      font-size: 30px;
    }
  }

  @include breakpoint(_992) {
    height: 0;
    opacity: 0;
    transform: scale(0);
  }

  &--active {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $color_white;
    margin-left: 0;
    top: 5.875rem;
    left: 0;
    z-index: 10;
    transition: .3s;

    @include breakpoint(_992) {
      height: 100%;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.contacts-link {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 3.25rem;


  &:hover &__value {
    color: $color_primary;
  }

  &__caption {
    font-size: .875rem;
    font-weight: 700;
    line-height: 150%;
    color: $color_gray-800;
  }

  &__value {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    color: $color_gray-900;
    transition: color 0.3s;
  }

  &--phone {
    background-image: url('@img/icons/iPhone.svg');
  }

  &--email {
    background-image: url('@img/icons/Chat.svg');
  }
}

.burger {
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  display: none;

  &__line,
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color_primary;
    transition: .3s;
  }

  &--active {

    .burger__line {
      transform: scale(0);
    }

    &::before {
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  @include breakpoint(_992) {
    display: flex;
  }
}