.header {
  background-color: $color_white;
  padding-top: 1.4375rem;
  padding-bottom: 1.3125rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;
    column-gap: 2.25rem;
  }
}

.nav {
  margin-left: -6.875rem;

  &__list {
    display: flex;
    column-gap: 2.5rem;
  }

  &__link {
    font-weight: 700;
    line-height: 160%;
    color: $color_gray-800;
  }
}

.contacts-link {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 3.25rem;

  &__caption {
    font-size: .875rem;
    font-weight: 700;
    line-height: 150%;
    color: $color_gray-800;
  }

  &__value {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    color: $color_gray-900;
  }

  &--phone {
    background-image: url('@img/icons/iPhone.svg');
  }

  &--email {
    background-image: url('@img/icons/Chat.svg');
  }
}