.hero {
  height: 102.6vh;
  background-image: url('@img/bg/hero-bg-image.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 6.8125rem;

  @include breakpoint(_576) {
    height: 100vh;
  }

  &__breadcrumbs {
    margin-bottom: 40px;
    display: flex;
    column-gap: 8px;
    font-size: 14px;
    color: $color_gray-600;

    &--black {
      color: $color_gray-800;
      font-size: 14px;
      transition: .3s linear;

      &:hover {
        color: $color_primary;
      }
    }
  }

  &__page {
    position: relative;
    top: -92px;
    left: 0;
    min-height: 600px;
    height: auto;
    width: 100%;
    padding-bottom: 0;

    @include breakpoint(_576) {
      height: auto;
    }
  }

  &--services {
    background-image: url('@img/bg/services-hero-bg.png');
    background-size: auto;
    background-position: right;
    background-color: $color_gray-200;
  }

  &--interior-design {
    background-image: url('@img/bg/interior-design-hero-bg.png');
    background-size: auto;
    background-position: right;
    background-color: $color_gray-200;
  }

  &--portfolio {
    background-image: url('@img/bg/portfolio-hero-bg.png');
    background-size: auto;
    background-position: right;
    background-color: $color_gray-200;

    @include breakpoint(_992) {
      background-image: linear-gradient($color_gray-200, $color_gray-400) !important;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__container {
    max-width: 577px;

    &--page {
      max-width: 500px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint(_1400) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 500px !important;
      }
    }

    @include breakpoint(_1400) {
      padding-left: 70px;
      padding-right: 70px;
      max-width: 577px + 140px;
    }

    @include breakpoint(_576) {
      max-width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

  }

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    color: $color_white;

    &--black {
      color: $color_gray-900;
    }

    span {
      color: $color_primary;
    }

    @include breakpoint(_576) {
      font-size: 35px;
    }
  }

  &__txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $color_white;
    margin-top: 1.5rem;

    &--gray {
      color: $color_gray-700;
    }

    &--black {
      @include breakpoint(_1200) {
        color: $color_gray-900;
      }
    }
  }

  &__btn-group {
    display: flex;
    align-items: center;
    column-gap: 1.375rem;
    margin-top: 3.8125rem;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  &__pagination-container {
    position: relative;

    @include breakpoint(_768) {
      display: none;
    }
  }

  &__pagination {
    counter-reset: count;
    text-align: left;
    left: .6875rem !important;
  }

  &__btn-next {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color_white;
    top: 56%;
    right: 1.2%;

    @include breakpoint(_576) {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      background-image: url('@img/icons/slider-arrow.svg');
      background-repeat: no-repeat;
      width: 1.125rem;
      height: .6875rem;
    }
  }

  &__btn-prev {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color_white;
    top: 56%;
    left: 1.3%;

    @include breakpoint(_576) {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      background-image: url('@img/icons/slider-arrow.svg');
      background-repeat: no-repeat;
      transform: rotate(180deg);
      width: 1.125rem;
      height: .6875rem;
    }
  }
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  width: 11.125rem;
  height: .125rem;
  position: relative;
  margin-left: .125rem !important;
  margin-left: .125rem !important;

  &-active {
    background-color: $color_white;
  }

  &::before {
    counter-increment: count;
    content: '0' counter(count);
    font-size: 1.75rem;
    font-weight: 700;
    color: $color_white;
    line-height: 150%;
    position: absolute;
    top: -3.25rem;
    left: 0;
  }
}