.history {
  padding-bottom: 100px;

  @include breakpoint(_576) {
    margin-top: 50px;
  }

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;

    @include breakpoint(_992) {
      justify-content: center;
    }
  }

  &__timeline {

    &-item {
      font-size: 28px;
      font-weight: 700;
      line-height: 150%;
      color: $color_gray-600;
      cursor: pointer;
      transition: .3s;
      position: relative;
      border-left: 1px solid $color_gray-400;
      padding-left: 37px;
      padding-top: 20px;



      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color_gray-600;
        position: absolute;
        left: -4px;
        top: 57%;
        box-shadow: 0 0 0 8px $color_gray-200;
      }

      &:hover {
        color: $color_primary;
      }

      &--active {
        color: $color_primary;

        &::before {
          background-color: $color_primary;
        }
      }
    }
  }

  &__slider-container {
    max-width: 800px;
    width: 100%;
  }

  &__slide-txt {
    font-weight: 400;
    line-height: 160%;
    color: $color_gray-800;
    margin-top: 35px;
  }

  &__pagination {
    width: 0;
    height: 0;
    transform: scale(0);
  }
}