.partners {
  padding-top: 5rem;
  margin-top: 7.5rem;

  @include breakpoint(_992) {
    margin-top: 50px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3.75rem;
    column-gap: 6.375rem;
    row-gap: 1.875rem;

    @include breakpoint(_768) {
      justify-content: center;
    }
  }

  &__img {
    flex: 0 1 100px
  }
}