.request {
  padding-top: 5.25rem;

  @include breakpoint(_576) {
    padding-top: 50px;
  }


  &__container {
    position: relative;
    background-color: $color_white;
    padding-bottom: 3rem;
    max-width: 76.875rem;
    z-index: 2;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 150%;
    color: $color_gray-900;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
    padding-top: 2rem;
    flex-wrap: wrap;

    @include breakpoint(_1200) {
      justify-content: center;
      gap: 1.875rem;
    }
  }

  &__input-box {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    @include breakpoint(_1200) {
      flex: 0 1 auto;
    }

    @include breakpoint(_768) {
      flex: 1 1 100%;
    }
  }

  &__label {
    font-size: .875rem;
    font-weight: 400;
    line-height: 150%;
    color: $color_gray-800;
  }

  &__input {
    padding: .8125rem 1rem .75rem 1rem;
    border-radius: .25rem;
    border: 1px solid $color_gray-400;
    background-color: $color_gray-200;
    color: $color_gray-600;
    font-size: .875rem;
    width: 16.25rem;



    &--long {
      width: 25.875rem;
    }

    @include breakpoint(_768) {
      width: 100%;
    }
  }

  &__btn {
    font-size: .875rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2.625rem;
  }
}