.services {
  position: relative;
  background-image: url('@img/bg/services-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 880px;
  padding-top: 210px;
  top: -90px;
  z-index: 1;

  @include breakpoint(_768) {
    padding-bottom: 50px;
  }

  @include breakpoint(_576) {
    padding-top: 150px;
  }

  &__container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3.125rem;

    @include breakpoint(_768) {
      column-gap: 3.125rem;
      justify-content: center;
    }
  }

  &__box {
    position: relative;
    max-width: 285px;
    width: 100%;
    min-height: 285px;
    background-color: $color_white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    &:hover .services__title {
      color: $color_white;
    }

    &:hover .services__icon {
      fill: $color_white;
    }
  }

  &__icon {
    transition: 0.3s;
  }

  &__title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: $color_gray-900;
    transition: 1s;
  }

  &__bg {
    position: absolute;
    background-image: url('@img/bg/services-hover-bg.jpg');
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}