.video {
  padding-top: 120px;
  padding-bottom: 90px;

  @include breakpoint(_576) {
    padding-top: 50px;
    padding-bottom: 0;
  }

  &__container {
    margin-top: 3.75rem;
  }

  &__preolader {
    cursor: pointer;

    @include breakpoint(_1200) {
      height: auto;
    }
  }
}