@import "settings/settings";
@import "components/title";
@import "components/btn";
@import "components/learn-more";

.page-body {
  position: relative;
}

.menu-active {
  overflow: hidden;
}

.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.wrapper {
  &--gray {
    background-color: $color_gray-200
  }

  &--main-bg {
    background-image: url('@img/bg/bg-main-image.png');
    background-repeat: no-repeat;
    background-position: 0 -417px;
  }
}

.interior-design__wrapper {
  padding-bottom: 92px;
  background: $color_gray-200 url('@img/bg/interior-design-wrapper-bg.png') left top no-repeat
}

@import "components/header";
@import "components/hero";
@import "components/offer";
@import "components/steps";
@import "components/benefits";
@import "components/pricing";
@import "components/video";
@import "components/values";
@import "components/request";
@import "components/services";
@import "components/cards";
@import "components/portfolio-slider";
@import "components/partners";
@import "components/testimonials";
@import "components/facts";
@import "components/recent-news";
@import "components/services-info";
@import "components/discuss";
@import "components/footer";

.mt-0 {
  margin-top: 0;
}