@import "settings/settings";
@import "components/title";
@import "components/btn";
@import "components/learn-more";

.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@import "components/header";
@import "components/hero";
@import "components/video";
@import "components/values";
@import "components/request";
@import "components/services";
@import "components/portfolio-slider";